{% extends "html/base.html" %}
{% load humanize %}
{% block head %}
    <script type="text/javascript" src="/jscripts/webtoolkit.sha1.js"></script>
    <script type="text/javascript" src="/jscripts/gaemarks.js"></script>
{% endblock %}
{% block content %}
        <div id="login" class="standard_form">
          <form id="form1" name="form1" action="/login.action" method="post" onsubmit="return loginUser();">
            <h1>此功能正在开发中。。。</a></h1>
            
          </form>  
        </div>
{% endblock %}

