{% extends "html/base.html" %}
{% load humanize %}
{% block head %}
    <script type="text/javascript" src="/jscripts/webtoolkit.sha1.js"></script>
    <script type="text/javascript" src="/jscripts/gaemarks.js"></script>
{% endblock %}
{% block content %}
        <div id="login" class="standard_form">
          <form id="form1" name="form1" method="post" action="/resetPasswd.action" onsubmit="return modifyUser(1);">
            <h1>重设密码 <a href="/login">(登录)</a></h1>
            {% if not user %}
            <div class="error_box" id="error_box" style="display:block;">重设密码验证码不正确.</div>
            {% else %}
            <div class="error_box" id="error_box" style="display:none;">None.</div>
            {% endif %}
            {% if user %}
            <label for="userId">
              用户名<br>
              <input class="text" id="id_userId" name="userId" style="width: 25em;" tabindex="1" value="" type="text">
            </label>
            <label for="userId">
              邮箱<br>
              <input class="text" id="id_email" name="email" style="width: 25em;" tabindex="2" value="" type="text">
            </label>
            <label for="passwd">
              密码
              <br>
              <input class="text" id="id_passwd" name="passwd" style="width: 25em;" tabindex="3" value="" type="password">
            </label>
            <label for="repasswd">
              确认密码
              <br>
              <input class="text" id="id_repasswd" name="repasswd" style="width: 25em;" tabindex="4" value="" type="password">
            </label>
            <label>
              <input  tabindex="5" name="commit" value="确认" type="submit">
            </label>
            {% endif %}
          </form>  
        </div>
{% endblock %}

